<footer>
  <time>
    Page generated on {{ page.date }}
  </time>
  <p>Built with <a href="https://www.11ty.dev/">Eleventy, a static site generator</a></p>
  <p>favicon from <a href="https://commons.wikimedia.org/wiki/File:Starfleet_Combadge_TNG.svg">Wikimedia Commons</a> and used under under the <a href="https://en.wikipedia.org/wiki/en:Creative_Commons">Creative Commons</a> <a href="https://creativecommons.org/licenses/by/3.0/deed.en">Attribution 3.0 Unported</a> license.</p>
  <p>FederationTNGTitle font from <a href="https://webfonts.ffonts.net/Federation-TNG-Title.font">webfonts.ffonts.net</a></p>
 </footer>