<header>
  <link rel="stylesheet" href="./styles/stars.css">
  <div class="titlebox">
      <table>
        <tr><td class="title-left">Terrible</td></tr>
        <tr><td class="title-right">Trek</td></tr>
        <tr><td class="subtitle">{{ subtitle | safe }}</td></tr>
      </table>
  <div>
  </div>
</header>