<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/stars.css">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
  <link rel="icon" href="./images/combadge.svg">
</head>
<body>
  <div class="stars">
    {% include "header.njk" %}
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
    <div id="content">{{ content | safe }}</div>
    {% include "footer.njk" %}
</div>

</body>
</html>
