<header>
  <div class="titlebox">
      <div class="left-spacing-box"></div>
      <div class="left-image-box">
          <img src="/images/Craig.svg">
      </div>
      <div class="center-box">
        <table>
          <tr><td class="title-left">Terrible</td></tr>
          <tr><td class="title-right">Trek</td></tr>
        </table>
      </div>
      <div class="right-image-box">
          <img src="/images/Klop.svg">
      </div>
  </div>
</header>