<nav>
    <div class="navbar-left"></div>
    <div class="navbar-button">
      <a href="/" class="fill-div">
        <p class="nav-button-label">HOME</p>
      </a>
    </div>
    <div class="navbar-button">
      <a href="/about" class="fill-div">
        <p class="nav-button-label">ABOUT</p>
      </a>
    </div>
    <div class="navbar-fill"></div>
    <span class="navbar-title">
        {{ title }}
    </span>
    <div class="navbar-right"></div>
</nav>