---
title: Craig
description: This is a post on My Blog about agile frameworks.
date: 2018-05-01
layout: layouts/post.njk
name: Craig
bio: "Craig was born. Then awesome stuff happened."
---
<div class="post-bg">
<p>Name: {{ craig.name | safe }}</p>
<p>Bio: {{ craig.bio | safe }}</p>
</div>