---
title: Klop
description: This is a post on My Blog about agile frameworks.
date: 2018-05-01
layout: layouts/post.njk
name: Klop
bio: "One time, Klop laughed so hard that snot came out his nose."
---
<div class="post-bg">
<p>Name: {{ klop.name | safe }}</p>
<p>Bio: {{ klop.bio | safe }}</p>
</div>