---
published: true
title: Encounter at Dumbpoint
podnum: 101
date: 2023-01-01
recorded: 2020-09-22
eptitle: Encounter at Farpoint
airdate: 1987-09-28
series: TNG
season: 1
episode: 1
tags:
- tng
- Season 1
description: "Our heroes dive into the less than stellar pilot episode of The Next Generation, \"Encounter At Farpoint.\" There's a spacestation mystery! An ominpotent being! Pain, and anger! Joy and gratitude!! Join us as we start off this journey by examining the not-so-great episodes of our favorite series."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1413221491%3Fsecret_token%3Ds-ZGNJsDBPqr7&color=%23627481&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/101-encounter-at-dumbpoint/s-ZGNJsDBPqr7" title="101 - Encounter at DUMBPoint" target="_blank" style="color: #cccccc; text-decoration: none;">101 - Encounter at DUMBPoint</a></div>
