---
published: false
title: The Naked… Now? Time?
podnum: 102
date: 2020-12-16
eptitle: The Naked Now
airdate: 1987-10-05
series: TNG
season: 1
episode: 3
tags:
- tng
- Season 1
description: "In our second installment, we review the first true episode of The Next Generation, \"The Naked Now.\" Or is it an episode of The Original Series? Who knows, but it's a trainwreck, regardless!"
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1413221491%3Fsecret_token%3Ds-ZGNJsDBPqr7&color=%23627481&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/101-encounter-at-dumbpoint/s-ZGNJsDBPqr7" title="101 - Encounter at DUMBPoint" target="_blank" style="color: #cccccc; text-decoration: none;">101 - Encounter at DUMBPoint</a></div>
