---
published: true
title: The Naked… Now? Time?
podnum: 102
date: 2023-01-08
recorded: 2020-12-16
eptitle: The Naked Now
airdate: 1987-10-05
series: TNG
season: 1
episode: 3
tags:
- tng
- Season 1
description: "In our second installment, we review the first true episode of The Next Generation, \"The Naked Now.\" Or is it an episode of The Original Series? Who knows, but it's a trainwreck, regardless!"
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1418222161%3Fsecret_token%3Ds-aTAehqSffU2&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/102-the-naked-now-time/s-aTAehqSffU2" title="102 - The Naked... Now? Time?" target="_blank" style="color: #cccccc; text-decoration: none;">102 - The Naked... Now? Time?</a></div>