---
published: true
title: Space Orgy!
podnum: 106
date: 2023-02-13
recorded: 2023-01-28
eptitle: Justice
airdate: 1987-11-09
series: TNG
season: 1
episode: 8
tags:
- tng
- Season 1
description: "A planet full of blonde nymphos attempt to exact \"Justice\" on young Wesley Crusher when he violates one of their incredibly stupid laws. Meanwhile, the Enterprise dances a rather boring tango with a \"space God\" who insists that the Federation stay tf away from the people they are subjugating. But we don't really care about any of that nonsense, and instead discuss the difference between modern tv and classic tv, and stuff like water processing facilities and small airports! Cringe at the worst bit of Trek dialogue ever written: \"I'm with Starfleet; we don't lie.\" Wil Wheaton, we are so sorry that they made you say that line. Like, really sorry."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1446398251&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/106-space-orgy" title="106 - Space Orgy!" target="_blank" style="color: #cccccc; text-decoration: none;">106 - Space Orgy!</a></div>