---
published: true
title: Let's Play a Game!
podnum: 107
date: 2023-02-20
recorded: 2021-01-19
eptitle: Hide and Q
airdate: 1987-11-23
series: TNG
season: 1
episode: 10
tags:
- tng
- Season 1
description: "Q's first return since his shenanigans at Farpoint pits the bridge crew against… French Legionaire soldiers with… pig faces? Trust us, it rapidly goes downhill from here. Trekkies were delighted to see the death of Wesley Crusher, only to be disappointed that the boy is promptly revived to live another day. The game of \"Hide & Q\" makes zero sense, and Riker does a poor job of refusing to cooperate when Q grants him immeasurable power."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1451806696&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/107-lets-play-a-game" title="107 - Let&#x27;s Play a Game!" target="_blank" style="color: #cccccc; text-decoration: none;">107 - Let's Play a Game!</a></div>