---
published: true
title: Romeo and Juliet… in SPACE!
podnum: 108
date: 2023-02-27
recorded: 2021-01-27
eptitle: Haven
airdate: 1987-11-30
series: TNG
season: 1
episode: 11
tags:
- tng
- Season 1
description: "This blundering reference to the Bard has it all; an arranged marriage, a match made amongst the stars, and the first appearance of Lwaxana Troi, which, honestly, her scenes are the only redeeming parts of this snoozefest. Mr Homn, give us one ring, and one ring only."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1457663134&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/108-romeo-and-juliet-in-space" title="108 - Romeo And Juliet... In SPACE!" target="_blank" style="color: #cccccc; text-decoration: none;">108 - Romeo And Juliet... In SPACE!</a></div>