---
published: true
title: Space Sexism!
podnum: 109
date: 2023-03-06
recorded: 2021-02-02
eptitle: Angel One
airdate: 1988-01-25
series: TNG
season: 1
episode: 14
tags:
- tng
- Season 1
description: "The underlying concept of \"Angel One,\" showing us what an aggressive matriarchial society might look like, falls super flat. This time, sexist overones betray the primarily male writing staff's thoughts about women. The footing of the show still has not been landed on, and yet another dud takes its place in the annals of TNG."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1463174848&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/109-space-sexism" title="109 - Space Sexism!" target="_blank" style="color: #cccccc; text-decoration: none;">109 - Space Sexism!</a></div>