---
published: true
title: The Curious Case of Admiral Jameson
podnum: 110
date: 2023-03-14
recorded: 2021-02-09
eptitle: Too Short A Season
airdate: 1988-02-08
series: TNG
season: 1
episode: 16
tags:
- tng
- Season 1
description: "Geriatric admiral Mark Jameson boards the Enterprise as he is seemingly the *only* delegate who can broker peace between two warring alien species, but things take a turn when the admiral's age seems to reverse before the crew's very eyes! The acting is bad, the makeup is bad, the entire episode is... bad. Sadly, \"Too Short a Season\" is not quite short enough."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1469097151&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/110-the-curious-case-of-admiral-jameson" title="110 - The Curious Case Of Admiral Jameson" target="_blank" style="color: #cccccc; text-decoration: none;">110 - The Curious Case Of Admiral Jameson</a></div>