---
published: true
title: I am Klingon, hear me ROAR
podnum: 113
date: 2023-05-22
recorded: 2021-03-16
eptitle: Heart of Glory
airdate: 1988-03-21
series: TNG
season: 1
episode: 20
tags:
- tng
- Season 1
description: "It'll take some time before The Next Generation does any degree of justice to the former enemy of the Federation, the Klingons. \"Heart of Glory\" certainly does little favors to the war-like race that eventually become super beloved. We pontificate on how readily the crew speculates that just because some of his own species boards the ship, Worf will bail on Starfleet and rejoin his brethren. More vieled racism in the first season is a super bad look."
---
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1519931890&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/terribletrekpod" title="TerribleTrekPod" target="_blank" style="color: #cccccc; text-decoration: none;">TerribleTrekPod</a> · <a href="https://soundcloud.com/terribletrekpod/113-i-am-klingon-hear-me-roar" title="113 - I am Klingon, hear me ROAR" target="_blank" style="color: #cccccc; text-decoration: none;">113 - I am Klingon, hear me ROAR</a></div>