---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/"
eleventyComputed:
  title: "{{ tag }}"
---  

{% for post in collections[tag] %}
  <div class="post-container">
    <div class="post-lcars-top">
      <div class="post-lcars-top-left"></div>
      <div class="post-lcars-top-fill"></div>
      <span class="post-lcars-title">
          {{ post.data.title }}
      </span>
      <div class="post-lcars-top-right"></div>
    </div>
    <div class="post-lcars-middle">
      <div class="post-lcars-left-bar"></div>
        <div class="post-body">
          <div class="post-iframe">
            {{ post.templateContent | safe }}
          </div>
            <div class="post-desc"> 
            <div>Podcast Number: {{ post.data.podnum }}</div><div>Recording Date: {{ post.date | readableDate }}</div>
            <div>Episode Title: {{ post.data.eptitle }}</div>
            <div>Series: {{post.data.series}}</div><div>Season: {{ post.data.season}}</div><div>Episode: {{ post.data.episode}}</div>
            <div>Original Airdate: {{ post.data.airdate | readableDate }}</div>
            <div>{{ post.data.description }}</div>
            {% for tag in post.data.tags %}
              {% if tag != "posts" %}
                <a href="/tags/{{ tag }}" class="">
                  <div class="post-tag">{{ tag }}</div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
    <div class="post-lcars-bottom">
      <div class="post-lcars-bottom-left" style="--inner-corner-var: 0;"></div>
      <div class="post-lcars-bottom-fill"></div>
      <div class="post-lcars-bottom-right"></div>
    </div>

  </div>
{% endfor %}
